{{!-- <section style="background: #ffffff">
  <div class="container mt-4" >
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-center">Add Banner</h2>
        <form action="/admin/add-banner" method="post" id="addBanner" enctype="multipart/form-data">
          <label for="">Tittle</label>
          <input type="text" name="tittle" class="form-control border border-dark ">
          <label for="exampleFormControlTextarea1">Description</label>
          <textarea class="form-control border border-dark" id="exampleFormControlTextarea1" name="tittleDescription"></textarea>
          
    <div class="mt-4">
    <input type="file" class="form-control mt-3 border border-dark " name="image">  
    {{!-- <input type="file" class="form-control " name="image1">   --}}
    </div>
      <button type="submit" class="btn btn-warning mt-4 border border-dark">Submit</button>
      </div>
    </div>
    </form>
  </div>
  </div>
  </div>

</section>  --}}