<header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-2">
                    <div class="header__logo">
                        <a href="/"><img src="/images/logo.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                    <nav class="header__menu">
                        <ul>
                            <li class=""><a href="/">Home</a></li>
                            <li><a href="/request-book">Request a Book</a></li>
                            <li><a href="/new-arrivals">New Arrivals</a></li>
                            <li><a href="/shop">Shop</a></li>
                            
                              {{!-- <li><a href="./blog-details.html">Blog Details</a></li> --}}
                        
                        
                          {{#if user}}
                        <li><a href="#">Account</a>
                                <ul class="dropdown">
                                <li><a href="/user-profile">{{user.name}}</a></li>
                              
                                 <li><a href="/order-details">Orders</a></li>
                                
                                   {{!-- <li><a href="/requested-order">Requested Items</a></li> --}}
                                {{/if}}
                            </ul>
                        </li>
                        
                      
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">

                <div class="header__right">
                    <div class="header__right__auth">

                        <div class="mt-1">
                      </div>
                        {{#if user}}
                        <a href="/logout">Logout</a>

                        {{else}}
                        <a href="/login">Login</a>
                        <a href="/signup">Register</a>
                        {{/if}}
                        
                    </div>
                    <ul class="header__right__widget">
                        <li>
                            <span class="icon_search search-switch" id="search-item"   onkeyup="search"></span> 
                           
                            </li>
                        <li><a href="/wishlist"><span class="icon_heart_alt" ></span>
                               
                            </a></li>
                        <li id="cartRefresh"><a href="/cart"><span class="icon_bag_alt">

                        </span>
                                <div class="tip"  id="cart-count" >{{cartCount}}</div>
                            </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="canvas__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form" action="/search-products" method="post" >
            <input type="text" id="search-input" name="search" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->


