<div class="container  text-center pt-5 mt-5" style="background: none;">
     <img src="images/categories/wallet.png" style="width: 200px; height: 200px;" alt="">
    <h2> Empty!!</h2> <br> 
    <h5 class="" style="padding-bottom: 5rem;"><a href="/" class="btn btn-warning">Continue Shopping..</a></h5>
</div>