<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container mt-5 ">
<div class="row">
<div class="col-sm-12">
<h1 style="text-align: center;">Change Password</h1>
</div>
</div>
<div class="row">
<div class="col-sm-6 col-sm-offset-3">
{{!-- <p class="text-center">Use the form below to change your password. Your password cannot be the same as your username.</p> --}}
<form   action="/update-password" method="post" id="passwordForm">
<input type="password" class="input-lg form-control" name="password" id="password1" placeholder="New Password" autocomplete="off">
<div class="row">
<div class="col-sm-6">

</div>
<div class="col-sm-6 mt-5" >

</div>
</div>
<input type="password" class="input-lg form-control" name="confirmation"  id="password2" placeholder="Repeat Password" autocomplete="off"  >
<div class="row">
<div class="col-sm-12">
</div>
</div>
<input type="submit" class="col-xs-12 btn btn-primary btn-load btn-lg mt-4" data-loading-text="Changing Password..." value="Change Password">
</form>
</div><!--/col-sm-6-->
</div><!--/row-->
</div>

<script>
  
</script>